body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.wrap {
    margin-left: 25px;
    margin-right: 600px;
}

#instructions {
    background-color: darkmagenta;
    font-size: 16pt;
    width: 500px;
    padding: 20px;
    margin-bottom: 25px;
}

h1 {
    background-color: blueviolet;
    font-size: 22pt;
    padding-top: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: bold;
    text-align: center;
    width: 280px;
    height: 60px;
}

h2, h3 {
    color: white;
}

.row-area1 {
}

.row-area2 {
    margin-top: 270px;
}

#computer-number {
    background-color: darkslateblue;
    font-size: 40pt;
    padding: 10px;
    width: 250px;
    height: 200px;
    color: white;
    float: left;
    margin-right: 15px;
}

#winsandlosses {
    float: left;
    padding-left: 30px;
    padding-top: 80px;
    background-color: darkred;
    color: white;
    width: 100px;
    height: 140px;
}

#crystal1, #crystal2, #crystal3, #crystal4 {
    width: 100px;
    height: 100px;
}

#total-score-letters {
    background-color: blue;
    color: white;
    height: 40px;
    width: 220px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 20px;
}

#player-score-sum {
    background-color: blue;
    font-size: 40pt;
    color: white;
    height: 200px;
    width: 200px;
    margin-bottom: 15px;
    padding: 10px;
}